@mixin bg-img($url, $dark){
  background:linear-gradient(rgba(0,0,0,$dark), rgba(0,0,0,$dark)), url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

$red: #FF6060;
$grey: #F6F6F673;

.container{
   max-width: 1240px;
   justify-self: center;
   width: 100%;
   @media (max-width: 430px) {
    padding-top: 20px;
  }
}

nav{
  margin: 50px 100px;
  width: 100%;
  justify-self: center;
  font-size: 24px;
  @media (max-width: 430px) {
    margin: 0 0 20px 0;
    font-size: 12px;
  }
  img{
    height: 68px;
    width: 210px;
    @media (max-width: 430px) {
    width: 39%;
    height: auto;
    padding-left: 20px;
  }
  }
  a{
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  a:focus{
    text-decoration: underline;
  }
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  color: $red;
  justify-content: space-around;
  height: 50vh;
  @media (max-width: 430px) {
    font-size: 18px;
    height: 80vh;
    padding: 0 20px;
  }
}

.error-img{
  width: 80%;
  max-width: 597px;
  @media (max-width: 430px) {
    width: 50%;
  }
}

.error-link{
  font-size: 18px;
  @media (max-width: 430px) {
    font-size: 14px;
  }
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 180px;
  color: white;
  background-color: black;
  text-align: center;
  align-content: center;
  font-size: 24px;
  z-index: 100;
  @media (max-width: 430px) {
    font-size: 12px;
  }
  img{
    height: 40px;
    width: 122px;
  }
}

.title{
  text-align: center;
  border: solid 1px black;
  border-radius: 20px;
  height: 15vh;
  align-content: center;
  @media (max-width: 430px) {
    margin: 0 20px;
    border-radius: 10px;
  }
    &__home{
      @include bg-img('../assets/images/landscape1.jpg', 0.5)
    }
    &__propos{
      @include bg-img('../assets/images/landscape2.jpg', 0.3)
    }
}

.title-text{
  font-size: 48px;
  color: white;
  @media (max-width: 675px) {
    font-size: 24px;
  }
}

.about{
  width: 80%;
  justify-self: center;
  margin-bottom: 200px;
}

.rolling-text{
  color: white;
  background-color: $red;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-top: 32px;
  @media (max-width: 430px) {
    margin-top: 20px;
    font-size: 13px;
  }
  input{
    appearance: none;
    font-size: 24px;
    color: white;
    transition: 0.5s;
    @media (max-width: 430px) {
    font-size: 10px;
  }
  }
  input:checked{
    transform: rotate(-180deg);
  }
}

.description{
  background-color: $grey;
  font-size: 18px;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.4, 0.3, 0.4, 1);
  align-content: center;
  padding: 0 15px;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}

.description-open {
  max-height: 100px;
  @media (max-width: 830px) {
   max-height: 122px;
  }
  @media (max-width: 730px) {
    max-height: 144px;
  }
  @media (max-width: 647px) {
    max-height: 168px;
  }
}

.description-closed {
  max-height: 0;
}

ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  width: 90%;
  margin-bottom: 200px;
  background-color: $grey;
  justify-self: center;
  justify-content: space-evenly;
  @media (max-width: 560px) {
    border-radius: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  li{
    padding-top: 40px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    @media (max-width: 430px) {
      height: 255px;
    }
    img{
      position: relative;
      top: -300px;
      z-index: 1;
      border-radius: 10px;
      filter: brightness(0.9);
      @media (max-width: 430px) {
        top: -255px;
      }
    }
    span{
      position: relative;
      max-width: 280px;
      left: 10px;
      height: 300px;
      display: block;
      align-content: end;
      bottom: 10px;
      z-index: 2;
      @media (max-width: 430px) {
        height: 255px;
      }
    }
  }
}

.logement{
  margin-bottom: 200px;
  width: 100%;
  @media (max-width: 430px) {
    padding: 0 5%;
    width: 90%;
  }
}

.caroussel-container{
  width: 100%;
  height: 415px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  color: white;
  @media (max-width: 430px) {
    height: 255px;
  }
}

.caroussel-image-number{
  position: relative;
  top: 90%;
  z-index: 1;
  font-size: 18px;
  @media (max-width: 430px) {
      display: none;
    }
}

.caroussel-btn-container{
  width: 94%;
  margin: 0 2%;
  position: relative;
  top: 50%;
  height: 0;
  z-index: 1;
  @media (max-width: 430px) {
      margin: 0;
    }
}

.caroussel-btn{
  font-size: 80px;
  background: none;
  border: none;
  color: white;
  @media (max-width: 430px) {
      font-size: 20px;
    }
}

.caroussel-img-container{
  display: none;
}

.caroussel-img-container.active {
  display: flex;
  justify-content: center;
  position: relative;
  top: -168px;
  height: 100vh;
}

.caroussel-img{
  width: 100%;
  object-fit: cover;
}

.img-fit{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tags{
  display: flex;
  gap: 10px;
  color: white;
  font-size: 14px;
  flex-wrap: wrap;
  li{
    background-color: $red;
    border-radius: 10px;
    min-width: 95px;
    padding: 0 10px;
    height: 25px;
    text-align: center;
    align-content: center;
    @media (max-width: 430px) {
      font-size: 10px;
      height: 18px;
      min-width: 84px;
      border-radius: 5px;
    }
  }
}

.star{
  font-size: 24px;
  &__grey{
    color: #E3E3E3;
  }
  &__red{
    color: $red;
  }
  @media (max-width: 430px) {
      font-size: 13px;
    }
}

.host{
  text-align: right;
  color: $red;
  font-size: 18px;
  @media (max-width: 430px) {
      font-size: 12px;
      flex-direction: row !important;
    }
}

.host-container{
  margin-left: 10px;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  overflow: hidden ;
  @media (max-width: 430px) {
      height: 32px;
      width: 32px;
    }
}

.flexMirror{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logement-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 144px;
  &__host{
    @media (max-width: 430px){
      flex-direction: row-reverse;
      width: 100%;
      align-items: center;
      min-height: 40px;
    }
  }
  @media (max-width: 430px){
      min-height: 40px;
    }
}

.logement-title{
  h1{
    color: $red;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 0;
    @media (max-width: 430px) {
      font-size: 18px;
    }
  }
  p{
    font-size: 18px;
    @media (max-width: 430px) {
      font-size: 14px;
    }
  }
}

.logement-description{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  li{
    width: 47%;
    @media (max-width: 430px) {
      width: 100%;
    }
  }
  @media (max-width: 430px) {
      flex-direction: column;
    }
}

@media (max-width: 430px) {
      .logement-description .rolling-text{
        width: 100%;
      }
      .logement > .flexMirror{  
        flex-direction: column;
      }
}